img {
    max-width: 100%;
    height: auto;
}

a {
    color: #f1e5ff;
}
.table tr td a {
    color: #0600b0;
}

#search-result .result-item {
    cursor: pointer;
}

#illness-info ul li {
    margin-bottom: 0.5rem;
}

.trigger {
    cursor: pointer;
}

.filter-element {
    display: inline-block;
    width: 12.5rem;
    margin: 0 1rem 1rem 0;
}

.block-toc {
    position: sticky;
    float: right;
    top: 0.5rem;
    background-color: #42567b;
    border: 2px solid #fff;
    padding: 0.5rem;
}

.block-toc .triggerArea {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: -0.5rem;
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
}

.spinner-border {
    width: 5rem;
    height: 5rem;
}