img {
    max-width: 100%;
    height: auto;
}

a {
    color: #f1e5ff;
}

#search-result .result-item {
    cursor: pointer;
}

#illness-info ul li {
    margin-bottom: 0.5rem;
}

.list-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.trigger {
    cursor: pointer;
}

.filter-element {
    display: inline-block;
    width: 12.5rem;
    margin: 0 1rem 1rem 0;
}