img {
    max-width: 100%;
    height: auto;
}

#search-result .result-item {
    cursor: pointer;
}

#illness-info ul li {
    margin-bottom: 0.5rem;
}

.list-title {
    font-size: 1.1rem;
    font-weight: bold;
}